.about-container {
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #16c79a;
  object-fit: contain;
  z-index: -1;
}
.text {
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}
.header_about {
  color: #ffffff;
  font-size: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin-top: 120px;
  margin-left: 100px;
}

.cards {
  height: min-content;
  display: flex;
  margin-top: 2%;
  width: 80%;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.what_card {
  flex-direction: column;
  margin-left: 10px;
  background-color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  border: #16c79a 1px solid;
  border-radius: 50px;
}

.header_about2 {
  padding-bottom: 20px;
  padding-top: 10px;
  color: #16c79a;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
}

.header_about2-1 {
  padding-bottom: 20px;
  padding-top: 10px;
  color: #16c79a;
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
}

.header_about3 {
  padding-top: 50px;
  color: #16c79a;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  align-self: center;
  padding-bottom: 10px;
}

.header_about1 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-left: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 50px;
}

.button-one {
  padding-right: 15px;
}
.button-two {
  margin-right: 15px;
}

.button-three {
  margin-right: 15px;
}

.anim {
  width: 45%;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.anim:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
