.navbar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Raleway", sans-serif;
}
.navbar.active {
  background: #303030;
  transition: all 0.6s ease;
  color: white;
}

.navbar.active .nav-links {
  color: white;
}
.navbar.active .nav-links:hover {
  color: #16c79a;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  cursor: pointer;
  justify-self: start;
  display: flex;
  align-items: center;
  transform: scale(0.4);
  transition: all 0.3s ease;
}
.navbar-logo:hover {
  transform: scale(0.5);
  transition: all 0.3s ease;
}

.nav-menu {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-start;
}

.nav-item {
  height: 80px;
  padding: 10px;
}

.nav-links {
  color: #303030;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-links:hover {
  color: #16c79a;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
